numpy
scipy
scikit-learn
gensim
smart_open
spacy
torch
transformers
sentence-transformers
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
python-dotenv
faiss-cpu
matplotlib
seaborn
plotly
umap-learn
beautifulsoup4
pypdf
pydantic
tiktoken
ftfy
regex
tqdm
openai-clip
jupyter
ipykernel
ipywidgets
notebook
jupyterlab
streamlit
httpx
requests
aiohttp
pyyaml
session_info
tensorflow
torchvision
certifi
pip-system-certs
